html,
body {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.top{
    height: 0%;
    /* background-color:#f1f1f1 ; */
}
.header-top {
    float: left;
    /* background-color:#f1f1f1 ; */
    background-size: cover;   
    /*padding: 30px;*/
   
    /* position: fixed; */
}
.logo {
    /* width: 5rem;     */
    padding-left: 2%;
    padding-right: 15%;
    /* margin-top: 1rem; */
}
.header {
    background-image: url(../img/header.jpg);
    background-size:cover;   
    /*padding: 30px;*/
    text-align: center;
    /* position: fixed; */
}
.header>h2 {
    /* padding: 30px; */
    text-align: center;
}

.site-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.site-title > h1 {
    color: #eee;
    font-size: 5rem;
    text-shadow: 0 0 5px #000;
}

.menu {
    margin-left: 5rem;
    display: flex;
    justify-content: flex-start;
    /* background-color: #f1f1f1; */
}

.menu-element {
    /* color: #fff; */
    /* text-transform: uppercase; */

    text-decoration: none;
    font-size: 100%;
    
    /* padding: 2.6% 5%; */
    margin-right: 10rem;
    
}


ul.menu {
    /* padding: 50px 160px; */
    list-style: none;
    /* background-color: #f1f1f1; */
}
ul.menu li {
    display: inline;
    font-size: 18px;
}
ul.menu li a {
    color: #0275d8;
    text-decoration: none;
}
ul.menu li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 20%;
    /* padding: 500em; */
}

.sidebar > h2 {
    margin-bottom: 1em;
    color: #646886;
}

.sidebar > ul {
    font-size: 1.5em;
    padding-left: 1rem;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;    
    flex-flow: row wrap;
    background-color: #eee;
    padding: 5em;   
    width: 100%;
}

.item {    
    width: 300px;
    height: 300px; 
    background-color: #fff;
    position: relative;  
    margin-top: 2em;  
}

.item > img {
    width: 100%;
}


.description {
    padding: 1rem;
}

.description > .price {
    margin: 1rem 0 2rem 0;
    font-size: 2em;
    color: #87dd6c;
}

/*.description > button {
    background-color: #97ff77;
    border-radius: .25em;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    padding: .5em 1em;
    position: absolute;
    bottom: .5em;
    right: .5em;
    outline: none;
    box-shadow: 0 0 .3em #0e5300;
}*/

.footer {
    display: flex;
    height: 500px;
    background-color: #202020;
    color: #fff;
}

.panel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-contacts {
    flex-direction: column;
    justify-content: center;
}

#contacts {
    font-size: 2em;
    margin-bottom: 1em;
}

.panel-contacts > p {
    font-size: 1.5em;
    margin-bottom: .5em
}

.panel>iframe {
    width: 600px;
}

.copyright-footer {
    background-color: #111111;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
}
/*блок меню О нас*/
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 10%;
    
}

p.dline {
    line-height: 1.5;
   }
   p1.dline {
    line-height: 1.5;
   }



/* Mobile */
@media only screen and (max-width: 720px) {

    .logo {
        width: 10%;     
    }
    .site-title>h1 {
        text-align: center;
    }

    .menu {
        flex-flow: column nowrap;
        background-color: #0087ee9d;
    }

    .menu-element {
        margin: 0;
    }

    .sidebar {
        display: none;
    }

    .items {
        width: 100%;
        flex-flow: column nowrap;
        align-items: center;
    }

    .item {
        width: 140%;
    }

    .footer {
        height: auto;
        flex-flow: column nowrap;
    }

    .panel {
        width: 100%;
    }

    .panel>iframe {
        width: 100%;
    }

    .panel-contacts {
        padding: 1.5rem 0;
    }
}